<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Try Template</title>
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="bootstrap/css/style.css" rel="stylesheet">
<style type="text/css">
	.margin {
		margin: 12% auto;
		width: 100%;
		}
</style>
</head>
<body>
<div class="row-fluid toppane fixed-top">
	<div class="span10 heading offset2">
		<h2>Crak Vote System (CVS)</h2>
	</div>
</div>
<div id="break">&nbsp;</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 hero-unit" style="padding: 0 10px 5px 10px;">
			<h3>Presidential Nominees</h3><hr/>
		<table style="width: 100%;">
			<tr>
				<td><img src="bootstrap/resources/passport1.jpg" width="100%"/>
				<span class="label label-important "> Vote for Me</span></td>
				<td><img src="bootstrap/resources/passport2.jpg" width="100%"/>
				<span class="label label-important "> Vote for Me</span></td>
				<td><img src="bootstrap/resources/passport3.jpg" width="100%"/>
				<span class="label label-important "> Vote for Me</span></td>
			</tr>
		</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 hero-unit">
			<h3>Secretarial Nominees</h3><hr/>
		<table style="margin: 10px; width: 100%;">
			<tr>
				<td><img src="bootstrap/resources/passport4.jpg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport5.jpeg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport6.jpeg" width="100%"/></td>
			</tr>
		</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 hero-unit">
			<h3>Financial Nominees</h3><hr/>
		<table style="margin: 10px; width: 100%;">
			<tr>
				<td><img src="bootstrap/resources/passport7.jpg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport8.jpg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport9.jpg" width="100%"/></td>
			</tr>
		</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 hero-unit">
			<h3>Organizing Nominees</h3><hr/>
		<table style="margin: 10px; width: 100%;">
			<tr>
				<td><img src="bootstrap/resources/passport10.jpg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport11.jpg" width="100%"/></td>
				<td><img src="bootstrap/resources/passport12.jpg" width="100%"/></td>
			</tr>
		</table>
		</div>
	</div>
</div>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
